body {
  @include font($main-ffamily, $main-fweight, $main-fsize-mobile);
  font-style: normal;
  color: #000;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: $main-fsize-tablet;
  }

  @media screen and (min-width: 1280px) {
    font-size: $main-fsize-desktop;
  }
}

a {
  text-decoration: none;
}

.ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
