.lable-title {
  font-family: $add-ffamily;
  font-style: normal;
  font-weight: $add-fweight;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-title-color;

  @media screen and (max-width: $mobile) {
    font-size: 18px;
    line-height: 1.16;
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
