.section-subtitle {
  @include font($add-ffamily, $add-fweight, 20px);
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;
  color: $white-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}
