$white-text-color: #ffffff, 100%;
$text-color: #000000, 100%;
$secondary-text-color: #907E82, 100 %
$primary-title-color: #d41443, 100%;
$secondary-title-color: #ffa5ba, 100 %;
$slider-background-color: #FAFAFA;
$lines-color: #E1E1E1;
$icons-background: #FEA5BB;
$background-color: #FFF5F6;
$mobile-menu-color: #E17992;
$mobile-menu-border: #E18298;
$hero-background: #FFB8CA;
$ice-coffee-background: #F0D1A5;
$milkshakes-background: #C2E297;
$button-hover-color: #ECEBEB;