$white-text-color: #ffffff;
$text-color: #000000;
$secondary-text-color: #907e82;
$primary-title-color: #d41443;
$secondary-title-color: #ffa5ba;
$slider-background-color: #fafafa;
$lines-color: #e1e1e1;
$icons-background: #fea5bb;
$background-color: #fff5f6;
$mobile-menu-color: #e17992;
$mobile-menu-border: #e18298;
$hero-background: #ffb8ca;
$ice-coffee-background: #f0d1a5;
$milkshakes-background: #c2e297;
$button-hover-color: #ecebeb;
$header-button-revers: #c7133e;
