<div data-about class="backdrop is-hidden">
  <div class="about-modal">
    <button data-about-close class="modal-button" type="button" aria-label="Close modal">
      <svg class="modal-svg" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <div class="section-label">
      <p class="label-title">tradition and love</p>
      <h2 class="section-title">how it’s made?</h2>
    </div>
    <p class="modal-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptate
      necessitatibus maiores, iure dignissimos qui eos rerum enim error, animi
      velit similique debitis doloribus minima amet nam expedita est accusamus
      quidem unde veritatis? Excepturi velit exercitationem tenetur cum culpa,
      veniam, obcaecati molestiae voluptas rerum totam id, sit pariatur
      recusandae necessitatibus unde sint. Consequuntur eius autem laborum unde
      atque veritatis temporibus rerum voluptatum totam culpa dolor minus
      quaerat dignissimos nobis nisi, vitae tenetur maiores nostrum placeat
      labore aspernatur explicabo. Architecto quia harum aliquam tempore, earum
      molestias placeat expedita excepturi sequi, error laborum numquam id
      possimus sapiente? Illum ut similique impedit nesciunt!
    </p>
    
    <p class="modal-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptate
      necessitatibus maiores, iure dignissimos qui eos rerum enim error, animi
      velit similique debitis doloribus minima amet nam expedita est accusamus
      quidem unde veritatis? Excepturi velit exercitationem tenetur cum culpa,
      veniam, obcaecati molestiae voluptas rerum totam id, sit pariatur
      recusandae necessitatibus unde sint. Consequuntur eius autem laborum unde
      atque veritatis temporibus rerum voluptatum totam culpa dolor minus
      quaerat dignissimos nobis nisi, vitae tenetur maiores nostrum placeat
      labore aspernatur explicabo. Architecto quia harum aliquam tempore, earum
      molestias placeat expedita excepturi sequi, error laborum numquam id
      possimus sapiente? Illum ut similique impedit nesciunt!
    </p>
  </div>
</div>
