<!-- About (How It`s Made?) -->
<section class="about">
  <div class="container">
    <div class="section-label">
      <p class="label-title">tradition and love</p>
      <h2 class="section-title">how it’s made?</h2>
    </div>
    <div class="description-block">
      <picture>
        <source
          srcset="
            ./images/mobile/milk-cow.png    1x,
            ./images/mobile/milk-cow@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/tablet/milk-cow.png    1x,
            ./images/tablet/milk-cow@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/desktop/milk-cow.png    1x,
            ./images/desktop/milk-cow@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img
          class="cow-image"
          src="./images/tablet/milk-cow.png"
          alt="Cow and milk"
          width="340px"
          height="339px"
        />
      </picture>

      <div class="description">
        <p class="main">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="additional">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button class="button" type="button">
          Read more
          <svg>
            <use class="icon" href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
