<section class="advantages">
  <div class="container">
    <h2 class="title-hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item icon-milk animated fadeInRight wow" data-wow-delay="250ms">
        <p class="advantages-number">721</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-apple animated fadeInRight wow" data-wow-delay="600ms">
        <p class="advantages-number">16kg</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-ice-cream animated fadeInRight wow" data-wow-delay="850ms">
        <p class="advantages-number">84</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
