<section class="advantages">
  <div class="container">
    <h2 class="title-hidden">Наши преимущества</h2>
    <ul class="advantages-list">
      <li class="advantages-item icon-milk">
        <p class="advantages-number">721</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-apple">
        <p class="advantages-number">16kg</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item icon-ice-cream">
        <p class="advantages-number">84</p>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
