<section class="contacts" id="contact">
    <div class="contacts-overlay"></div>
    <h2 class="contacts-hidden">Ice Cream contacts</h2>
    <div class="container contacts-container" >
        <ul class="contacts-list">
            <li class="contacts-card">
                    <button type="button"
                    class="card-label"
                    > Cafe </button>
                    <p  class="dark-title">Chicago</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div  class="card-line"></div>
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <div class="card-line"></div>
                    <a class="contacts-link" href="tel:+610383766284" rel="noopener noreferrer"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="mailto:noreply@envato.com" rel="noopener noreferrer"
                    >noreply@envato.com
                    </a>
            </li>
            <li class="contacts-card">
                    <button type="button" 
                    class="card-label-2"
                    > Food truck </button>
                    <p  class="dark-title">Los Angeles</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="card-line"></div>
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <div class="card-line"></div>
                    <a class="contacts-link" href="tel:+610383766284" rel="noopener noreferrer"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="mailto:noreply@envato.com" rel="noopener noreferrer"
                    >noreply@envato.com
                    </a>
            </li>
            <li class="contacts-card">
                    <button type="button" 
                    class="card-label"
                    >Cafe</button>
                    <p  class="dark-title">New York</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="card-line"></div>
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <div class="card-line"></div>
                    <a class="contacts-link" href="tel:+610383766284" rel="noopener noreferrer"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="mailto:noreply@envato.com" rel="noopener noreferrer"
                    >noreply@envato.com
                    </a>
            </li>
        </ul>
    <!-- Contacts location buttons-->
    <ul class="contacts-buttons-list">
        <li class="contacts-buttons-item">
            <button type="button" 
            class="button location-button"
            >Our Locations
            <svg class="button-icon contacts-icon" width="8" height="10">
                <use href="./images/symbol-defs.svg#icon-hulf-arrow" />
            </svg></button>
        </li>
        <li class="contacts-buttons-item">
            <button type="button" 
            class="button "
            >Franchise
            <svg class="button-icon contacts-icon" width="8" height="10">
                <use href="./images/symbol-defs.svg#icon-hulf-arrow" />
            </svg></button>
        </li>
    </ul>
    </div>
</section>