<section class="contacts">
    <h2 class="contacts-hidden">Ice Cream contacts</h2>
    <div class="container">
        <ul class="contacts-list">
            <li class="contacts-card">
                    <p class="card-label">Cafe</p>
                    <p  class="dark-title">Chicago</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr  class="card-line">
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <hr class="card-line">
                    <a class="contacts-link" href="#"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="#"
                    >noreply@envato.com
                    </a>
                    
            </li>
            <li class="contacts-card">
                    <p class="card-label-2">Food truck</p>
                    <p  class="dark-title">Los Angeles</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr class="card-line">
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <hr class="card-line">
                    <a class="contacts-link" href="#"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="#"
                    >noreply@envato.com
                    </a>
            </li>
            <li class="contacts-card">
                    <p class="card-label">Cafe</p>
                    <p  class="dark-title">New York</p>
                    <p class="card-subscription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr class="card-line">
                    <p class="dark-title">Monday - Friday</p>
                    <p class="card-time">06:00 AM - 10:00 PM</p>
                    <p class="dark-title">Saturday - Sunday</p>
                    <p class="card-time">08:00 AM - 16:00 PM</p>
                    <hr class="card-line">
                    <a class="contacts-link" href="#"
                    >+61(0) 383 766 284
                    </a>
                    <a class="contacts-link" href="#"
                    >noreply@envato.com
                    </a>
            </li>
        </ul>
    
    <ul class="contacts-buttons">
        <li>
            <button type="button" class="contacts-button-arrow">Our Locations</button>
        </li>
        <li>
            <button type="button" class="contacts-button-arrow">Franchise</button>
        </li>
    </ul>
</div>
</section>