<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
        <div class="footer-title">
            <p class="label-title">homemade ice cream made</p>
            <p class="section-title">with passion</p>
        </div>
        
        <div class="footer-contacts">
            <ul class="footer-social">
                <li class="footer-item">
                    <a class="footer-link" href="https://github.com" target="_blank">
                        <svg class="footer-icon-github" width="34" height="34">
                            <use href="./images/symbol-defs.svg#icon-github"></use>
                        </svg></a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="https://github.com" target="_blank">
                        <svg class="footer-icon-telegram" width="34" height="34">
                            <use href="./images/symbol-defs.svg#icon-telegram"></use>
                        </svg></a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="https://github.com" target="_blank">
                        <svg class="footer-icon-facebook" width="34" height="34">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg></a>
                </li>
            </ul>
            <div class="footer-contact">
                <p>Feel free to contact</p>
                <a href="tel:610383766284"><span class="footer-tel">+61 (0) 383 766 284</span></a>
            </div>
        </div>
    </div>

    <!-- <div class="footer-border">
        <p class="footer-copyright">© 2019 - IceCream. All Rights Reserved.</p>
    </div> -->
  </div>
</footer>
<div class="footer-border">
        <p class="footer-copyright">© 2019 - IceCream. All Rights Reserved.</p>
    </div>



    