<section class="gallery">
    <div class="container">
        <h2 class="title-hidden">Галерея</h2>
        <picture>
            <source srcset="
                                                  
                                                  ./images/Mobile/gallery.jpg,
                                                  ./images/Mobile/gallery@2x.jpg
                                                 media=(max-width: $max-mobile)" type="image/jpg" />
            <source srcset="
                                                  
                                                  ./images/Tablet/gallery.jpg,
                                                  ./images/Tablet/gallery@2x.jpg
                                                 media=(min-width: $mobile) and (max-width: $max-tablet)"
                
            <source srcset="
                                                  
                                                  ./images/Desktop/gallery.jpg
                                                 media=(min-width: $desktop)" />
            <img class="gallery-image" src="./images/Desktop/gallery.jpg" alt="Галерея работ" width="" height="" />
        </picture>
    </div>
</section>

