<header>
  <nav>
    <div class="logo">
      <svg class="logo-icon" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-icecream" />
      </svg>
      <span>icecream</span>
    </div>
    <ul class="breadcrumb">
      <li class="active">Home</li>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">How it’s made?</a>
      </li>
      <li>
        <a href="#">Our products</a>
      </li>
      <li>
        <a href="#">Contact?</a>
      </li>
    </ul>
  </nav>
  <div class="menu-burger">
    <svg class="logo-menu-burger" width="20" height="12">
      <use href="./images/symbol-defs.svg#icon-burger" />
    </svg>
  </div>
  <button type="button" class="">
    Buy now
    <svg class="" width="4" height="8">
      <use href="./images/symbol-defs.svg#icon-hulf-arrow" />
    </svg>
  </button>
</header>
