<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="logo" href="./">
        <div class="logo-circle">
          <svg class="logo-icon" width="50" height="50">
            <use href="./images/symbol-defs.svg#icon-icecream" />
          </svg>
        </div>
        <span>icecream</span>
      </a>

      <nav class="navigation">
        <ul class="nav">
          <li class="nav-item active">
            <a class="link" href="#about-us">Home</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#how-made">How it’s made?</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#our-products">Our products</a>
          </li>
          <li class="nav-item">
            <a class="link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="menu-burger" data-menu-open>
        <svg class="logo-menu-burger" width="20" height="12">
          <use href="./images/symbol-defs.svg#icon-burger" />
        </svg>
      </button>

      <button type="button" class="button" data-modal-open-form>
        Buy now
        <svg class="button-icon">
          <use href="./images/symbol-defs.svg#icon-hulf-arrow" />
        </svg>
      </button>
    </div>
    <div class="hero-container">
      <div class="hero-wrap">
        <div class="title-container">
          <h1 class="title">
            <span class="text-title">ice cream made with </span
            ><span class="accent-title">passion</span>
          </h1>
        </div>
        <ul class="hero-buttons ul">
          <li class="button button-revers">
            <a href="#products">Products</a>
          </li>
          <li class="button">
            <a href="#how-made">How it’s made?</a>
          </li>
        </ul>
        <article class="hero-article">
          <h2 class="title-hidden">Lorem ipsum dolor sit amet</h2>
          <p class="text-article">
            Grass-fed dairy and organic dairy cows provide milk significantly
            higher in beneficial fatty acids and lower in omega-6.
          </p>
          <button class="btn" type="button" data-modal-open-hero>
            <svg class="btn-icon">
              <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </article>
      </div>
      <ul class="outlets-list ul">
        <li class="outlets-item">
          <span class="outlets-number">16</span>
          <span class="outlets-type">cafes</span>
        </li>
        <li class="outlets-item">
          <span class="outlets-number">23</span>
          <span class="outlets-type">food trucks</span>
        </li>
      </ul>
    </div>
    <ul class="hero-images ul">
      <li class="bio-img"></li>
      <li class="ice-cream-img"></li>
      <li class="tasty-img"></li>
    </ul>
  </div>
</header>
<div class="header-backdrop is-hidden" data-modal-hero>
  <div class="header-modal">
    <button class="header-cross" data-modal-close-hero>
      <svg class="passport-icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-close" />
      </svg>
    </button>
    <img
      class="passport-img"
      src="./images/cow-pas.jpg"
      alt="cow with documents"
    />
    <article class="passport-article">
      <h2 class="passport-title">Every cow is unique</h2>
      <p class="passport-text">
        Cattle must be identified with a pair of approved ear tags and have been
        issued with a passport.
      </p>
    </article>
  </div>
</div>
<div class="form-backdrop is-hidden" data-modal-form>
  <div class="form-modal">
    <button class="header-cross" data-modal-close-form>
      <svg class="passport-icon" width="15" height="15">
        <use href="./images/symbol-defs.svg#icon-close" />
      </svg>
    </button>

    <h2 class="form-title">Leave a request and we will contact you</h2>
    <form class="form-buy">
      <label class="form-lable">
        <span class="form-text">Name</span>
        <input
          class="form-input"
          type="text"
          placeholder=" "
          name="name"
          placeholder=" "
          autocomplete="on"
        />
      </label>
      <label class="form-lable">
        <span class="form-text">Phone</span>
        <input
          class="form-input"
          type="tel"
          placeholder=" "
          name="name"
          placeholder=" "
          autocomplete="on"
        />
      </label>
      <label class="form-lable">
        <span class="form-text">Email</span>
        <input
          class="form-input"
          type="email"
          placeholder=" "
          name="name"
          placeholder=" "
          autocomplete="on"
        />
      </label>
      <label class="form-lable">
        <span class="form-text">The product's name</span>
        <textarea
          class="buy-textarea"
          placeholder=" "
          name="comment"
          rows="4"
          placeholder="Enter text"
        ></textarea>
      </label>
      <button aria-label="Buy" class="button button-revers" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
