<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="logo">
        <div class="logo-circle">
          <svg class="logo-icon" width="50" height="50">
            <use href="./images/symbol-defs.svg#icon-icecream" />
          </svg>
        </div>
        <span>icecream</span>
      </div>

      <ul class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
        <li class="breadcrumb-item">
          <a class="link" href="#about-us">About us</a>
        </li>
        <li class="breadcrumb-item">
          <a class="link" href="#how-made">How it’s made?</a>
        </li>
        <li class="breadcrumb-item">
          <a class="link" href="#our-products">Our products</a>
        </li>
        <li class="breadcrumb-item">
          <a class="link" href="#contact">Contact?</a>
        </li>
      </ul>

      <div class="menu-burger">
        <svg class="logo-menu-burger" width="20" height="12">
          <use href="./images/symbol-defs.svg#icon-burger" />
        </svg>
      </div>
      <button type="button" class="button">
        Buy now
        <svg class="button-icon">
          <use href="./images/symbol-defs.svg#icon-hulf-arrow" />
        </svg>
      </button>
    </div>
    <div class="hero-container">
      <div class="hero-wrap">
        <div class="title-container">
          <h1 class="title">
            <span class="text-title">ice cream made with </span
            ><span class="accent-title">passion</span>
          </h1>
        </div>
        <ul class="hero-buttons ul">
          <li class="button button-revers">
            <a href="#products">Products</a>
          </li>
          <li class="button">
            <a href="#how-made">How it’s made?</a>
          </li>
        </ul>
        <article class="hero-article">
          <p class="text-article">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="btn" type="button">
            <svg class="btn-icon">
              <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </article>
      </div>
      <ul class="outlets-list ul">
        <li class="outlets-item">
          <span class="circle"></span>
          <span class="outlets-number">16</span>
          <span class="outlets-type">cafes</span>
        </li>
        <li class="outlets-item">
          <span class="circle"></span>
          <span class="outlets-number">23</span>
          <span class="outlets-type">food trucks</span>
        </li>
      </ul>
    </div>
    <ul class="hero-images ul">
      <li class="bio-img"></li>
      <li class="ice-cream-img"></li>
      <li class="tasty-img"></li>
    </ul>
  </div>
</header>
