<!-- <section class="hero">
  <div class="container">
    <div class="hero-wrap">
      <div class="title-container">
        <h1 class="title">
          <span class="text-title">ice cream made with </span
          ><span class="accent-title">passion</span>
        </h1>
      </div>
      <ul class="hero-buttons ul">
        <li class="button button-revers">
          <a href="#products">Products</a>
        </li>
        <li class="button">
          <a href="#how-made">How it’s made?</a>
        </li>
      </ul>
      <article class="hero-article">
        <p class="text-article">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="btn" type="button">
          <svg class="btn-icon">
            <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </article>
    </div>
    <ul class="outlets-list ul">
      <li class="outlets-item">
        <span class="circle"></span>
        <span class="outlets-number">16</span>
        <span class="outlets-type">cafes</span>
      </li>
      <li class="outlets-item">
        <span class="circle"></span>
        <span class="outlets-number">23</span>
        <span class="outlets-type">food trucks</span>
      </li>
    </ul>
    <ul class="hero-images ul">
      <li class="bio-img"></li>
      <li class="ice-cream-img"></li>
      <li class="tasty-img"></li>
    </ul>
  </div>
</section> -->
