<div ddata-modal class="backdrop is-hidden">
    <div class="modal-product">

        <button ddata-modal-close class="modal-button" type="button">
            <svg class="modal-svg" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

            <p class="section-subtitle">ICE CREAM</p>
            <p class="product-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <p class="product-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
        </p>
    </div>
</div>

<!--Модальное окно, открывающееся по клику на вторую кнопку-->

<div data-modal-two class="backdrop is-hidden">
    <div class="modal-product">

        <button data-modal-close-two class="modal-button" type="button">
            <svg class="modal-svg" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <p class="section-subtitle">ICE COFFEE</p>
        <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
        </p>
    </div>
</div>

<!--Модальное окно, открывающееся по клику на третью кнопку-->

<div data-modal-three class="backdrop is-hidden">
    <div class="modal-product">

        <button data-modal-close-three class="modal-button" type="button">
            <svg class="modal-svg" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>

        <p class="section-subtitle">MILKSHAKES</p>
        <p class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
            dolore
            magna aliqua facilisis.
        </p>
    </div>
</div>