<section class="section-products">
    <div class="container" id="products">
        <p class="label-title" id="our-products">100% natural</p>
        <h2 class="section-title">products</h2>
        <ul class="list-products">
            <li class="card-products">
                <h3 class="section-subtitle">ice cream</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    <span class="text-hidden">dolore magna aliqua facilisis.</span>
                </p>
                <button class="btn" type="button">
                    <svg width="11" height="9">
                        <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                </button>
            </li>

            <li class="card-products">
                <h3 class="section-subtitle">ice coffee</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    <span class="text-hidden">dolore magna aliqua facilisis.</span>
                </p>
                <button class="btn" type="button">
                    <svg width="11" height="9">
                        <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                </button>
            </li>

            <li class="card-products">
                <h3 class="section-subtitle">milkshakes</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                    <span class="text-hidden">dolore magna aliqua facilisis.</span>
                </p>
                <button class="btn" type="button">
                    <svg width="11" height="9">
                        <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
                    </svg>
                </button>
        </ul>
    </div>
</section>
