.about {
  padding-top: 125px;
  padding-bottom: 39px;

  background-color: $background-color;

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}

.section-label {
  text-align: center;
  margin-bottom: 104px;
  text-transform: uppercase;
}

.description-block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  .cow-image {
    display: block;
    width: 100%;
    height: auto;
}

.description {
  width: 100%;
  font-family: $main-ffamily;
  font-weight: $main-fweight;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  .main {
    margin-bottom: 35px;
    font-size: $main-fsize-mobile;
    line-height: 1.62;

    color: $text-color;

    @media screen and (min-width: 768px) {
      font-size: $main-fsize-tablet;
      line-height: 1.76;
    }

    @media screen and (min-width: 1280px) {
      font-size: $main-fsize-desktop;
      letter-spacing: 0.04em;
    }
  }

  .additional {
    margin-bottom: 20px;
    font-size: $main-fsize-mobile;
    line-height: 1.62;
    color: $secondary-text-color;

    @media screen and (min-width: 768px) {
      font-size: $main-fsize-tablet;
      line-height: 1.76;
    }

    @media screen and (min-width: 1280px) {
      line-height: 1.94;
      letter-spacing: 0.04em;
    }
  }
}
}