.contacts {
  position: relative;
  background-color: $background-color;
  background-image: linear-gradient(
    to bottom,
    #ffffff 8%,
    $background-color 8%
  );

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(
      to bottom,
      #ffffff 18%,
      $background-color 18%
    );
  }

  .contacts-overlay {
    @media screen and (min-width: $desktop) {
      position: absolute;
      left: 50%;
      top: 12%;
      transform: translateX(-50%);
      min-width: $desktop;
      width: 100%;
      height: 382px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/Desktop/sectionbg-drops.png);

      @media screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/Desktop/sectionbg-drops@2x.png);
      }
    }
  }

  .contacts-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

  .contacts-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .contacts-list {
    justify-content: center;
    align-items: center;
    margin-top: -20px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .contacts-card {
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    margin-top: 20px;
    padding: 43px 20px;
    max-width: 220px;
    height: auto;

    @media screen and (min-width: $tablet) {
      padding: 50px 30px;
      width: calc((100% - 50px) / 3);
    }

    @media screen and (min-width: $desktop) {
      padding: 51px 44px 62px 43px;
      width: calc((100% - 90px) / 3);
      max-width: 330px;
    }

    &:hover {
      transform: scale(1.15);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .card-label {
    padding: 1px 15px;
    background-color: $ice-coffee-background;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: $white-text-color;
    font-size: $main-fsize-mobile;
    margin-bottom: 25px;

    @media screen and (min-width: $tablet) {
      font-size: $main-fsize-desktop;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 32px;
    }
  }

  .card-label-2 {
    background-color: $milkshakes-background;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    color: $white-text-color;
    font-size: $main-fsize-mobile;

    @media screen and (min-width: $tablet) {
      font-size: $main-fsize-desktop;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 32px;
    }
  }

  .dark-title {
    margin-top: 10px;

    @media screen and (min-width: $tablet) {
      margin-top: 15px;
    }
  }

  .card-time {
    line-height: 26px;
    color: $secondary-title-color;
    margin-top: 2px;
  }

  .card-subscription {
    color: $secondary-text-color;
    margin-top: 10px;
    line-height: 18px;

    @media screen and (min-width: $tablet) {
      line-height: 26px;
    }

    @media screen and (min-width: $desktop) {
      line-height: 29px;
    }
  }

  .card-line {
    border: 1px solid $lines-color;
    margin: 25px auto;
    @media screen and (min-width: $tablet) {
      margin: 30px auto;
    }
    @media screen and (min-width: $tablet) {
      margin: 32px auto;
    }
  }

  .contacts-link {
    color: $secondary-text-color;
    line-height: 18px;

    @media screen and (min-width: $tablet) {
      line-height: 26px;
    }

    @media screen and (min-width: $desktop) {
      line-height: 29px;
    }
  }

  /* Contacts location buttons */
  .contacts-buttons-list {
    margin-top: 55px;
    justify-content: center;
    margin-bottom: -10px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 80px;
    }
  }

  .contacts-buttons-item {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
      margin-right: 15px;
    }
  }

  .contacts-icon {
    width: 8px;
    height: 10px;
  }

  .button {
    margin-bottom: 10px;
    width: 170px;
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  }
}
