.rev-slider {
  margin: 0 auto;
  margin-bottom: 86px;
  width: 280px;

  @media screen and (min-width: $tablet) {
    width: 620px;
    margin-bottom: 119px;
  }

  @media screen and (min-width: $desktop) {
    width: 926px;
    margin-bottom: 132px;
  }
}

.photo {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 29px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.text-bg {
  position: relative;
  padding: 43px 66px 26px 57px;
  margin-bottom: 52px;

  background: $slider-background-color;

  @media screen and (min-width: $tablet) {
    padding: 30px 36px 28px 40px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: $desktop) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 34px;
  }
}

.text {
  font-size: $main-fsize-mobile;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  // background-image: repeating-linear-gradient(
  //   to bottom,
  //   transparent,
  //   transparent 28px,
  //   #e1e1e1 28px,
  //   #e1e1e1 29px
  // );

  background-image: repeating-linear-gradient(
    to bottom 
    transparent 28px,
    #e1e1e1 28px,
    #e1e1e1 29px
  );

  // background-size: 100%, 28px;

  @media screen and (min-width: $tablet) {
    font-size: $main-fsize-tablet;
    line-height: 2.16;
    // background-size: 100% 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: $main-fsize-desktop;
    line-height: 1.86;
    // background-size: 100% 30px;
  }
}

.text::before {
  content: '';
  position: absolute;
  top: 47px;
  left: 89px;
  width: 54px;
  height: 40px;
  background-image: url('/images/quotes.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $tablet) {
    top: 15px;
    left: 5px;
  }

  @media screen and (min-width: $desktop) {
    top: 35px;
    left: 40px;
  }
}

.name {
  position: relative;
  margin-bottom: 35px;

  font-size: $main-fsize-tablet;
  line-height: 1.86;

  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: $main-fsize-desktop;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.name::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 4px;

  background-image: url('/images/dots.svg');
  background-position: 45px 45px;
  background-size: contain;
  background-repeat: repeat;
  order: 3;
}

/* Слайдер */
// .slick-slider {
//   min-width: 0;
// }

/* Слайдер запущен */
// .slick-slider.slick-initialized {
// }
/* Слайдер с точками */
// .slick-slider.slick-dotted {
// }

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  width: 280px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }

  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}
/* Слайд активный (показывается) */
// .slick-slide.slick-active {
// }
/* Слайд основной */
// .slick-slide.slick-current {
// }
/* Слайд по центру */
// .slick-slide.slick-center {
// }
/* Клонированный слайд */
// .slick-slide.slick-cloned {
// }

/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 18px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-image: url('/images/home.svg');
  background-position: center;
  background-color: transparent;
  border-radius: 0%;
}

/* Элемент точки */
.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border-style: none;
}
