.rev-slider {
  margin: 0 auto;
  margin-bottom: 86px;

  @media screen and (min-width: $tablet) {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 119px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 132px;
  }
}

.photo {
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 29px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.text-bg {
  position: relative;
  padding: 43px 66px 26px 57px;
  margin-bottom: 52px;

  background: $slider-background-color;

  @media screen and (min-width: $tablet) {
    padding: 30px 40px 28px 40px;
    margin-bottom: 42px;
  }

  @media screen and (min-width: $desktop) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 34px;
  }
}

.text {
  font-size: $main-fsize-mobile;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 28px,
    $lines-color 28px,
    $lines-color 29px
  );

  @media screen and (min-width: $tablet) {
    font-size: $main-fsize-tablet;
    line-height: 2.16;
  }

  @media screen and (min-width: $desktop) {
    font-size: $main-fsize-desktop;
    line-height: 1.86;
  }
}

.text::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-15%, -10%);
  width: 54px;
  height: 40px;
  background-image: url('/images/quotes.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $tablet) {
    top: 10%;
    left: 1%;
    transform: translate(-1%, -10%);
  }

  @media screen and (min-width: $desktop) {
    top: 30%;
    left: 5%;
    transform: translate(-5%, -30%);
  }
}

.name {
  position: relative;
  margin-bottom: 30px;

  font-size: $main-fsize-tablet;
  line-height: 1.86;

  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: $main-fsize-desktop;
    margin-bottom: 35px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.name::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  top: -65%;
  left: 50%;
  transform: translate(-50%, 65%);

  background-image: url('/images/dots.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slider.slick-slide {
  width: 280px;
  margin-left: 10px;
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }

  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0px 18px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-image: url('/images/home.svg');
  background-position: center;
  background-color: transparent;
  border-radius: 0%;
}

/* Элемент точки */
.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border-style: none;
}
