.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background-color: $background-color;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding-top: 158px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 165px;
    padding-bottom: 10px;
  }
}

.footer-social {
  display: flex;
}

.footer-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  color: $white-text-color;
}

.footer-item:not(:last-child) {
  margin-right: 25px;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;

  background-color: $secondary-title-color;
  border-radius: 50%;
  color: $white-text-color;
}

.footer-icon-github {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-icon-telegram {
  width: 20px;
  height: 16px;
  fill: currentColor;
}

.footer-icon-facebook {
  width: 9px;
  height: 20px;
  fill: currentColor;
}

.footer-contacts {
  display: flex;
  font-size: $main-fsize-mobile;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    font-size: $main-fsize-tablet;
  }

  @media screen and (min-width: $desktop) {
    font-size: $main-fsize-desktop;
  }
}

.footer-tel {
  color: $primary-title-color;
}
