.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background-color: $background-color;
  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding-top: 158px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 165px;
    padding-bottom: 10px;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
  text-align: end;
}

.footer-social {
  display: flex;
  margin-bottom: 46px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.footer-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  color: $white-text-color;
}

.footer-item:not(:last-child) {
  margin-right: 25px;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;

  background-color: $secondary-title-color;
  border-radius: 50%;
  color: $white-text-color;
}

.footer-icon-github {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-icon-telegram {
  width: 20px;
  height: 16px;
  fill: currentColor;
}

.footer-icon-facebook {
  width: 9px;
  height: 20px;
  fill: currentColor;
}

.footer-contacts {
  padding: 0;
}
.footer-contact {
  display: flex;
  font-size: $main-fsize-mobile;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    font-size: $main-fsize-tablet;
  }

  @media screen and (min-width: $desktop) {
    font-size: $main-fsize-desktop;
  }
}

.footer-tel {
  color: $primary-title-color;
}

// .footer-border {
//   border-top: 1px solid blue;
//   padding-top: 50px;
// }

.footer-copyright {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  // margin: 0 auto;
  font-family: $main-ffamily;
  font-style: normal;
  font-weight: 700;
  font-size: $main-fsize-tablet;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
}
