.gallery {
  background-color: $background-color;
  margin-bottom: 80px;

  background-image: linear-gradient(
    to bottom,
    $background-color 40%,
    #ffffff 40%
  );

  @media screen and (min-width: $tablet) {
    margin-bottom: 121px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 82px;
  }
}
