// // MAIN

.hero-container {
  position: relative;
  padding-top: 137px;
  @media screen and (min-width: $tablet) {
    padding-top: 15px;
  }
  @media screen and (min-width: $desktop) {
    padding: 84px 0 0 69px;
  }
}

// // -- TITLE --

.hero-container .title-container {
  position: relative;
  z-index: 1;
  max-width: 218px;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    max-width: 162px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 277px;
    margin-bottom: 25px;
  }
}

.hero-container .title {
  font-family: $add-ffamily;
  font-weight: $add-fweight;
  text-transform: uppercase;
}

.hero-container .text-title {
  font-size: 26px;
  line-height: 1.13;
  letter-spacing: 0.04em;

  color: $white-text-color;
  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 38px;
  }
}

.hero-container .accent-title {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0em;

  color: $primary-title-color;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 56px;
  }
}

// // -- POSITION BUTTON --

.hero-buttons {
  display: flex;
  position: relative;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 112px;
  }
}

.hero-container .button:not(:last-child) {
  margin-right: 9px;
}

// // -- ARTICLE --

.hero-article {
  display: none;

  font-size: 8px;
  font-weight: $add-fweight;
  line-height: 1.5;
  letter-spacing: 0em;

  color: $white-text-color;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: 120px;
    max-width: 114px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 180px;
    max-width: 200px;

    font-size: 14px;
  }
}

.hero-container .text-article {
  margin-bottom: 7px;
}

// // -- OUTLETS --

.hero-container .outlets-list {
  display: none;
  position: absolute;
  top: 14px;
  right: 0;

  margin-left: auto;
  text-align: right;
  padding-right: 10px;

  font-weight: $add-fweight;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    top: 73px;
    right: -18px;
  }
}

.hero-container .outlets-item {
  position: relative;
  display: block;
}

.hero-container .outlets-item:not(:last-child) {
  margin-bottom: 14px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 18px;
  }
}

.hero-container .outlets-number {
  position: relative;
  transform-style: preserve-3d;

  font-family: $add-ffamily;
  font-size: 28px;

  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $primary-title-color;
  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.13;
  }
}

.hero-container .circle {
  position: absolute;
  top: -4px;
  right: -9px;
  z-index: 0;

  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: $white-text-color;
  @media screen and (min-width: $desktop) {
    width: 30px;
    height: 30px;
    right: -15px;
    top: -7px;
  }
}

.hero-container .outlets-type {
  display: block;
  font-size: 8px;

  line-height: 1.25;
  letter-spacing: 0em;
  color: $white-text-color;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.29;
  }
}

// // -- IMAGE --

.header .ice-cream-img {
  position: absolute;
  transform-style: preserve-3d;

  bottom: 0;
  left: 117px;
  display: block;
  background-image: url(../images/Mobile/big-iceCream.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 171px;
  height: 410px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/Mobile/big-iceCream@2x.png');
  }
  @media screen and (min-width: $mobile) {
    background-image: url(../images/Tablet/big-iceCream.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/Tablet/big-iceCream@2x.png');
    }
  }
  @media screen and (min-width: $tablet) {
    width: 143px;
    height: 336px;
    left: 400px;

    background-image: url(../images/Desktop/big-iceCream.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/Desktop/big-iceCream@2x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    width: 236px;
    height: 557px;
    left: 549px;
  }
}

.header .ice-cream-img::before {
  content: '';
  position: absolute;
  transform: translateZ(-1px);
  top: -9px;
  right: -94px;

  display: block;
  min-width: 346px;
  height: 346px;
  background-color: $secondary-title-color;
  border-radius: 50%;
  @media screen and (min-width: $tablet) {
    top: -32px;
    right: -110px;
    width: 324px;
    height: 324px;
  }
  @media screen and (min-width: $desktop) {
    top: -56px;
    right: -185px;
    width: 538px;
    height: 538px;
  }
}

.header .bio-img {
  display: none;

  position: absolute;
  z-index: 1;
  bottom: 28px;
  left: 19px;
  width: 124px;
  height: 126px;
  @media screen and (min-width: $mobile) {
    background-image: url(../images/Tablet/milk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/Tablet/milk@2x.png');
    }
  }
  @media screen and (min-width: $tablet) {
    display: block;

    background-image: url(../images/Desktop/milk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/Desktop/milk@2x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    width: 188px;
    height: 191px;
    left: 77px;
    bottom: 45px;
  }
}

.header .tasty-img {
  display: none;

  position: absolute;
  bottom: 0;
  right: 34px;
  width: 168px;
  height: 133px;

  background-image: url(../images/Tablet/tasty-girl.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/Tablet/tasty-girl@2x.png');
  }

  @media screen and (min-width: $tablet) {
    display: block;

    background-image: url(../images/Desktop/tasty-girl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/Desktop/tasty-girl@2x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    width: 293px;
    height: 232px;
    right: 90px;
  }
}
