.header-backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $icons-background;
  z-index: 1002;
  padding: 50px 0;
}

.header-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  background-color: $white-text-color;
  border-radius: 22px;
  overflow: hidden;
  opacity: 1;
  scale: 1;
  @include transition(scale, opacity);
  padding: 0 0 15px;
}

.header-backdrop.is-hidden .header-modal {
  opacity: 0;
  scale: 0.7;
}

.header-cross {
  @extend %flex-center;
  position: absolute;
  border-radius: 50%;
  border: 0;
  right: 10px;
  top: 10px;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: $secondary-text-color;
  cursor: pointer;
  outline: 1px solid transparent;
  transform: rotate(0deg);
  @include transition(background-color);
  &:hover,
  &:focus {
    background-color: $header-button-revers;
  }
}

.passport-img {
  width: 100%;
  margin-bottom: 10px;
}

.passport-article {
  padding: 10px 15px;
  font-family: $add-ffamily;
  font-weight: $add-fweight;
  text-align: center;
}

.passport-title {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 20px;
  color: $header-button-revers;
}

.passport-text {
  color: $header-button-revers;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

.header-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
