.mobile-menu {
  display: none;
  @media screen and (max-width: $max-tablet) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14;
    opacity: 1;
    background: $mobile-menu-color;
    min-height: 100vh;
    max-width: $max-tablet;
    padding: 60px 25px;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: linear;
  }

  .cross {
    position: absolute;
    top: 23px;
    right: 28px;
    border: none;
    background: transparent;
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    &-icon {
      fill: $white-text-color;
    }
    &:focus,
    &:focus {
      transform: scale(1.15);
    }
  }

  .button {
    margin-bottom: 20px;
  }
}
.mobile-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-nav {
  &-item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    border-top: 1px solid $mobile-menu-border;
    color: $white-text-color;
  }
  &-item:last-child {
    border-bottom: 1px solid $mobile-menu-border;
  }
  &-item:hover,
  &-item:focus {
    color: $primary-title-color;
  }
  .link {
    display: block;
    padding: 12px 0;
  }
}
