.section-products {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
